{% extends 'base.html.twig' %}

{% block title %}Add category{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button >{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
        <ul>
            <p> Les catégories : </p>
            {% for category in allCategory %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
