{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Catégorie : {{ category.name }}</h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.title }}</h2>
            <p>id : {{ program.id }} </p>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}