{% extends 'base.html.twig' %}

{% block body %}

    <h1>Saison {{ season.number }} de {{ program.title }}</h1>

    <p>Liste des épisodes : </p>
    <ul>
        {% for episode in episodes %}
            <li><a href="{{ path('show_episode', { 'id': episode.id }) }}"> Episode {{ episode.number }} : {{ episode.title }} </a></li>
        {% endfor %}
    </ul>

    <p><a href=" {{ path('show_program', {slug:program.title}) }}">Retour programe</a></p>

{% endblock %}